:root {
  --color-blue: #0C30AE;
  --color-light-green: #19EC60;
  --color-green: #041C0C;
  --color-olive: #151C02;
  --color-white: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "bingar_demo";
  background: var(--color-bg);
  color: var(--color-text);
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h5 {
  font-family: "hagrid_text_trial";
  margin: 0;
}

.container {
  padding: 0 50px;
}

.header {
  background-color: var(--color-blue);
  position: relative;
}
.header::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 75%;
  height: 2px;
  background-color: var(--color-white);
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__wrapper--left {
  width: 80%;
  height: 100px;
}

.logo {
  width: 140px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  border-right: 2px solid var(--color-white);
}

.nav__icons {
  max-width: -moz-max-content;
  max-width: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.nav__icons .cart__icon {
  width: 24px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.menu__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.menu__icon > .line {
  display: inline-block;
  width: 85px;
  height: 1px;
  background-color: var(--color-white);
}

.banner {
  background-color: var(--color-blue);
}
.banner .banner__slider__wrapper {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 50px;
}
.banner .banner__slider__wrapper .banner__slider__main {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.banner .banner__slider__wrapper .banner__slider__main .swiper-slide img {
  max-height: 956px;
  -o-object-fit: contain;
     object-fit: contain;
}
.banner .banner__slider__wrapper .banner__slider__thumbs {
  max-width: 585px;
  margin: 50px 100px;
  overflow: hidden;
}
.banner .banner__slider__wrapper .banner__slider__thumbs .swiper-slide-active {
  display: none;
}
.banner .banner__slider__wrapper .banner__slider__thumbs .swiper-slide .slide__num {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  color: var(--color-white);
  margin-bottom: 16px;
}
.banner .banner__slider__wrapper .banner__slider__thumbs .swiper-slide img {
  max-width: 181px;
  height: auto;
  border-radius: 30px;
}

.contact {
  background-color: var(--color-light-green);
  padding: 200px 110px 50px 90px;
}
.contact__content {
  display: flex;
  align-items: baseline;
  gap: 50px;
}
.contact__content__title {
  font-size: 190px;
  line-height: 200px;
  font-weight: 800;
  text-transform: uppercase;
}
.contact__content.line1 {
  padding-left: 80px;
}
.contact__content.line2 {
  justify-content: flex-end;
}
.contact__content.line2 .contact__content__title {
  font-size: 310px;
  margin-bottom: 50px;
}
.contact__content.line3 .contact__content__title {
  font-size: 220px;
}
.contact__info {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  top: -120px;
  right: 12%;
}
.contact__info__images {
  width: -moz-max-content;
  width: max-content;
  position: relative;
}
.contact__info__images--texts {
  animation: spin 9s linear infinite;
}
.contact__info__images--thumb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact__mail {
  max-width: 350px;
  font-size: 70px;
  color: var(--color-olive);
  word-wrap: break-word;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.footer {
  background-color: var(--color-olive);
  padding: 0 30px 0;
}
.footer .footer__top {
  display: grid;
  grid-template-columns: max-content 2fr 0.8fr;
  gap: 105px;
  padding-top: 100px;
  border-bottom: 3px solid var(--color-white);
}
.footer .footer__top .footer__widget .footer__widget__menu_wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 200px;
  border-left: 3px solid var(--color-white);
  border-right: 3px solid var(--color-white);
  padding: 0 105px 100px;
}
.footer .footer__top .footer__widget .footer__widget__title {
  font-size: 35px;
  line-height: 60px;
  font-weight: 800;
  color: var(--color-white);
  margin-bottom: 24px;
}
.footer .footer__top .footer__widget .footer__widget__menu__link {
  display: inline-block;
  font-size: 30px;
  line-height: 32px;
  font-weight: 400;
  color: var(--color-white);
  margin-bottom: 10px;
}
.footer .footer__bottom {
  padding: 70px 0;
}
.footer .footer__bottom .footer__social__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.footer .footer__bottom .footer__social__link .social__link {
  display: inline-block;
  width: 100%;
  font-size: 70px;
  line-height: 42px;
  font-weight: 400;
  color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 100px;
  padding: 55px 60px;
  text-align: center;
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */