*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--color-bg);
    color: var(--color-text);
    overflow-x: hidden;
}
  
img {
    display: block;
    max-width: 100%;
}